language: python
python:
#  - "2.6"
  - "2.7"
#  - "pypy"
before_install:
  - export PIP_USE_MIRRORS=true
  - export PIP_INDEX_URL=https://simple.crate.io/
  - export DISPLAY=:99.0
install:
  - pip install -e .
before_script:
  - export CONFIG_SERVER=http://apolloner.eu/~apollo13/django/
  - "wget -O before_script.sh $CONFIG_SERVER/before_script.sh && sh before_script.sh"
script:
  - ./tests/runtests.py --verbosity 2 --settings=django_settings
env:
  - DB=sqlite GIS=nogis
  - DB=mysql GIS=nogis
  - DB=mysql GIS=gis
  - DB=postgres GIS=nogis
  - DB=postgres GIS=gis
# travis is on oneiric! fixed postgis?!
